<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quote Stealer</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Quote Stealer</h1>
    <p>
      Instructions: Want to seem wise. Type in your name and steal a random
      famous quote. Save it in our db for viewers to see
    </p>
    <form action="/" method="post">
      <label>Name: <input type="text" name="name" required /></label>
      <button type="submit">Submit</button>
    </form>
    <hr />
    <a href="/allQuotes">View All Quotes</a>
  </body>
</html>
